.homepage {
    display: flex;
    width: 100%;
    height: 90vh;
    position: relative;

    .toggleSwitch {
        position: absolute;
        left: 37.5vw;
        top: 2vh;
        z-index: 98;

        input {
            appearance: none;
            position: relative;
            width: 6.25rem;
            height: 1.875rem;
            border-radius: 1.563rem;
            background-color: rgba(255, 255, 255, 0.125);
            transition: background .3s;
            outline: none;
            cursor: pointer;
            font-size: 0.875rem;
        }


        input::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            height: 1.25rem;
            width: 1.25rem;
            background-color: white;
            transition: left .3s;
        }

        input:checked {
            background-color: rgba(60, 110, 208, 1);
        }

        input:checked::before {
            left: 85%;
        }

        input::after {
            position: absolute;
            content: "Home";
            color: white;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
        }

        input:checked::after {
            position: absolute;
            content: "Inventory";
            color: white;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
        }
    }

    .inventoryMode {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .cardDetailsContainer {
        flex: 3;
    }

    .mainSeparator {
        width: 0.125rem;
        margin: 0.625rem auto;
        height: 81.5vh;
        background-color: rgba(255, 255, 255, 0.125);
    }

    .details {
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow: hidden;

        .utilitiesContainer {
            flex: 10;
        }

        .userDisplay {
            display: flex;
            flex: 1;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .homepage {
        .details {
            height: 99.9%;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .homepage {
        .mainSeparator {
            height: 80.5vh;
        }
    }
}

@media only screen and (max-width: 768px) {
    .homepage {
        flex-direction: column;

        .toggleSwitch {
            left: 45%;
        }

        .inventoryMode {
            flex: 2;
            max-height: 29.899rem;
        }

        .cardDetailsContainer {
            flex: 2;
        }

        .mainSeparator {
            width: 95%;
            height: 2px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .homepage {
        /* height: 90svh;
        width: 85vw; */
        overflow-y: scroll;
        overflow-x: hidden;
        margin: auto;
        margin-bottom: 0rem;
        .toggleSwitch {
            top: 1%;
            left: 4%;
        }

        .inventoryMode {
            /* max-height: 29.899rem; */
            max-height: 24.095rem;
        }
        
        .cardDetailsContainer {
            max-height: 24.095rem;
            /* max-height: 29.899rem; */
            /* height: 36.73rem; */
        }

        .details {
            min-height: 15.076rem;
            overflow-y: hidden;

            .utilitiesContainer {
                max-height: 70%;
            }
        }
    }
}

/* @media only screen and (max-width: 375px) {
    .homepage {
        .toggleSwitch {
            left: 70%;
        }

        .inventoryMode {
            max-height: 24.095rem;
        }
    }
} */

@media only screen and (max-width: 320px) {
    .homepage {
        .inventoryMode {
            .modalButton {
                top: 10.3%;
                left: 63.3%;
                padding: 7px;
            }
        }
    }
}