.utilities {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 8;

    .cardSearch {
        flex: 3;
        padding: 0.625rem;
        max-height: 26.80rem;
        overflow: hidden;

        input {
            font-size: 0.875rem;
            padding: 0.5rem;
            margin-right: 1.125rem;
            border: none;
            outline: none;
            background-color: rgba(17, 25, 40, 1);
            color: white;
            border-radius: 0.3125rem;
            width: 98%;

            &:focus {
                border: 1px solid rgba(60, 110, 208, 1);
            }
        }

        .searchResults {
            margin: 0.625rem auto;
            display: flex;
            flex-direction: column;
            gap: 0.9375rem;
            width: 100%;
            max-height: 90%;
            overflow-y: scroll;

            .result {
                display: flex;
                height: 15%;
                width: 100%;
                align-items: center;
                justify-content: start;
                border: 1px solid rgba(255, 255, 255, 0.125);
                border-radius: 0.125rem;
                padding: 0.09375rem;
                cursor: pointer;

                img {
                    width: 2.5rem;
                    height: 3.125rem;
                    object-fit: contain;
                    margin: none;
                }

                .cardInfo {
                    display: flex;
                    flex-direction: column;
                    padding: 0.3125rem;
                    gap: 0.125rem;

                    span {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.625rem;
                        justify-content: start;
                        padding: 0rem;
                        text-align: left;
                        font-weight: lighter;
                        color: rgba(255, 255, 255, 0.548);
                    }
                }
            }
        }
    }

    .separator {
        width: 95%;
        margin: 0.625rem auto;
        height: 0.125rem;
        background-color: rgba(255, 255, 255, 0.125);
    }

    .infoSwitch {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h3 {
            font-size: 0.875rem;
        }

        .wishlistSwitch {

            input {
                appearance: none;
                position: relative;
                width: 6.25rem;
                height: 1.875rem;
                /* margin-right: 0.625rem; */
                border-radius: 1.5625rem;
                background-color: rgba(255, 255, 255, 0.125);
                transition: background .3s;
                outline: none;
                cursor: pointer;
                font-size: 0.875rem;
            }
        
        
            input::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 15%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                height: 1.25rem;
                width: 1.25rem;
                background-color: white;
                transition: left .3s;
            }
        
            input:checked {
                background-color: rgba(60, 110, 208, 1);
            }
    
            input:checked::before {
                left: 85%;
            }
    
            input::after {
                position: absolute;
                content: "Inventory";
                color: white;
                top: 50%;
                left: 60%;
                transform: translate(-50%, -50%);
            }
    
            input:checked::after {
                position: absolute;
                content: "Wishlist";
                color: white;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .inventory {
        flex: 2;
        position: relative;
        overflow-y: scroll;

        .sets {
            display: flex;
            flex-direction: column;
            gap: 0.9375rem;
            overflow-y: scroll;
            max-height: 76%;

            .resultSet {
                display: flex;
                margin-left: 0.625rem;
                padding: 0.3125rem;
                width: 97%;
                align-items: center;
                border: 1px solid rgba(255, 255, 255, 0.125);
                border-radius: 0.125rem;
                cursor: pointer;
                justify-content: space-between;
                text-align: left;

                .setInfo {
                    font-size: 0.75rem;
                    padding-left: 0.3125rem;
                    display: flex;
                    flex-direction: column;
                    overflow-x: hidden;
                    width: 16rem;

                    p {
                        font-size: 0.875rem;
                        width: 10.375rem;
                        white-space: normal;
                        scrollbar-width: none;
                    }

                    .set {
                        font-size: 0.75rem;
                        width: 10.375rem;
                        text-wrap: wrap;
                        color: rgba(255, 255, 255, 0.548);
                    }
                }

                .setModifying {
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 0.3125rem;

                    form {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 55%;
                        gap: 0.5rem;
                        z-index: 1;

                        input {
                            padding: 0.5rem;
                            border: none;
                            outline: none;
                            background-color: rgba(17, 25, 40, 1);
                            color: white;
                            border-radius: 0.3125rem;
                            width: 40%;
                            font-size: 0.875rem;

                            &:focus {
                                border: 1px solid rgba(60, 110, 208, 1);
                            }
                        }

                        button {
                            width: 1.5625rem;
                            padding: 0.5rem;
                            border: none;
                            background-color: rgba(60, 110, 208, 0.8);
                            color: white;
                            border-radius: 0.3125rem;
                            cursor: pointer;
                            font-size: 0.875rem;
                            font-weight: 500;
                            text-align: center;

                            &:hover {
                                background-color: rgba(60, 110, 208, 1);
                            }

                            &.removeButton {
                                background-color: rgba(255, 88, 70, 0.8);

                                &:hover {
                                    background-color: rgba(255, 88, 70, 0.8);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.userDetails {
    position: absolute;
    flex: 1;
    height: 8%;
    width: 25%;
    top: 82.6vh;
    z-index: 3;
}

@media only screen and (max-width: 1440px) {
    .utilities {
        .inventory {
            .sets {
                overflow-x: hidden;

                .resultSet {
                    width: 95%;
                    .setModifying {
                        form {
                            input {
                                width: 1.875rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .utilities {
        .inventory {
            .sets {
                max-height: 72%;
            }
        }
    }

    .userDetails {
        top: 82.1vh;
    }
}

@media only screen and (max-width: 1339px) {
    .utilities {
        .infoSwitch {
            .wishlistSwitch {
                padding-right: 0.25rem;
            }
        }

        .inventory {
            .sets {
                max-height: 70%;

                .resultSet {
                    .setInfo {
                        p {
                            width: 9rem;
                        }

                        .set {
                            width: 9rem;
                        }
                    }
                }
            }
        }
    }

    .userDetails {
        top: 81.4vh;
    }
}

@media only screen and (max-width: 1250px) {
    .utilities {
        .cardSearch {
            .searchResults {
                .result {
                    .cardInfo {
                        span {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }

    .userDetails {
        top: 81.4vh
    }
}

/* @media only screen and (max-width: 1149px) {
    .utilities {
        .infoSwitch {
            h3 {
                font-size: 0.75rem;
            }

            .wishlistSwitch {
                padding-right: 0rem;

                input {
                    width: 4rem;
                }

                input::before {
                    left: 25%;
                }

                input:checked::before {
                    left: 80%;
                }

                input::after {
                    content: "Inv";
                }

                input:checked::after {
                    content: "Wish";
                }
            }

            }
            .inventory {
                .sets {
                    .resultSet {
                        width: 95%;
                        display: flex;

                        .setInfo {
                            max-width: 5rem;
                            font-size: 0.625rem;
                            display: flex;
                            flex-direction: column;
                            padding: 0rem;

                            p {
                                white-space: nowrap;
                                overflow-x: auto;
                                overflow-y: hidden;
                                max-width: 100%;
                                margin: 0rem;
                                padding: 0rem;
                            }
                        }

                        .setModifying {
                            form {
                                input {
                                    width: 1.875rem;
                                }

                                button {
                                    width: 1.25rem;
                                }
                            }
                        }
                    }
                }
            }
    }
} */