.userInfo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(30, 44, 70, 1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    width: 100%;

    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        label {
            cursor: pointer;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

    }
    button {
        width: 30%;
        padding: 5px;
        border: none;
        background-color: rgba(255, 88, 70, 0.8);
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            background-color: rgba(255, 88, 70, 1);
        }
    }
}

@media only screen and (max-width: 1339px) {
    .userInfo {
        button {
            width: 35%;
        }
    }
}

@media only screen and (max-width: 1149px) {
    .userInfo {
        .user {
            gap: 0.75rem;

            h3 {
                font-size: 1rem;
                margin-right: 0.5rem;
            }
        }

        button {
            width: 37%;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .userInfo {
        .user {
            gap: 0.474rem;

            h3 {
                font-size: 1rem;
                margin-right: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 1076px) {
    .userInfo {
        button {
            padding: 3px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .userInfo {
        .user {
            gap: 0.5rem;

            h3 {
                font-size: 0.875rem;
            }
        }

        button {
            padding: 1px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .userInfo {
        .user {
            gap: 1rem;

            h3 {
                font-size: 20px;
                margin-right: 0.5rem;
            }
        }

        button {
            width: 20%;
            padding: 8px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .userInfo {
        padding: 8px;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        .user {
            h3 {
                font-size: 18px;
            }
        }

        button {
            width: 21%;
        }
    }
}
@media only screen and (max-width: 375px) {
    .userInfo {
        .user {
            h3 {
                font-size: 18px;
            }
        }
    }
}