* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  background-image: url("/images/anime-style-galaxy-background.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
  color: white;
  align-items: center;
  justify-content: center;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 85vw;
  height: 90svh;
  background-color: rgba(30, 44, 70, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  .myLinks {
    position: absolute;
    top: 102%;
    left: 40%;
    color: black;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(60, 110, 208, 0.8);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(60, 110, 208, 1);
}

@media only screen and (max-width: 375px) {
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 85vw;
    height: 95vh;
    background-color: rgba(30, 44, 70, 0.75);
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
}

/* @media only screen and (orientation: landscape) and (max-width: 1023px) {
  .container {
    display: none;
  }
} */
/* @media only screen and (max-width: 1023px) {
  .container {
    display: none;
  }
} */